<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Contacts</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles_c.css">
    
</head>
<body>
    <div class="container">
        <header>
            <h1>Emergency Contact Details</h1>
        </header>
        <form action="/find-emergency-services" method="GET">
            <p>For which locality do you wish to find emergency contacts? </p>
            <input type="text" name="locality" id="locality"/>
            <button type="submit">Go.</button>

        </form>
        {% if contacts %}
            {% for contact in contacts %}
            <br>
                <li> <b>Name:</b> {{ contact[2] }} <br>
                <b>Contact:</b> {{ contact[3] }} <br>
                <b>Number of personnel:</b> {{ contact[4] }} <br>
                <b>Speed of response:</b> {{ contact[5] }} </li>
                <br> <br>
            {% endfor %}
        {% endif %}
        
        <footer>
            <p>&copy; 2024 DMS</p>
        </footer>
    </div>
</body>
</html>
