<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisis Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap-4.6.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
</head>   
  <body>
      <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="#">DMS</a>
            
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Relief Camp</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Map
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Thiruvananthapuram</a>
                                <a class="dropdown-item" href="#">Kollam</a>
                                <a class="dropdown-item" href="#">Alappuza</a>
                                <a class="dropdown-item" href="#">Pathanamthitta</a>
                                <a class="dropdown-item" href="#">Kottayam</a>
                                <a class="dropdown-item" href="#">Eranakulam</a>
                                <a class="dropdown-item" href="#">Idukki</a>
                                <a class="dropdown-item" href="#">Thrissur</a>
                                <a class="dropdown-item" href="#">Palakad</a>
                                <a class="dropdown-item" href="#">Wayanad</a>
                                <a class="dropdown-item" href="#">Malapuram</a>
                                <a class="dropdown-item" href="#">Kozikode</a>
                                <a class="dropdown-item" href="#">Kannur</a>
                                <a class="dropdown-item" href="#">Kasargod</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact-us">Contacts</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#" data-toggle="modal" data-target="#emergencyModal">Emergency</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="modal fade" id="emergencyModal" tabindex="-1" role="dialog" aria-labelledby="emergencyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="emergencyModalLabel">Emergency Contact Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Phone Number</label>
                                    <input type="number" class="form-control" id="number" placeholder="Enter your number" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Email</label>
                                    <input type="email" class="form-control" id="nemail" placeholder="Enter your email" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Address</label>
                                    <input type="text" class="form-control" id="naddress" placeholder="Enter your address" required>
                                </div>
                            </form>
                            </div>
                        <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
                  </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal-bar">
                  <a href="/add-shelter" class="nav-item">Add Shelter</a>
                  <a href="/new-incident" class="nav-item">Add Incident</a>
                  <!-- <a href="/donate-funds" class="nav-item">Donate Funds</a> -->
                  <a href="/fund-alloc" class="nav-item">Fund Allocation</a>
                  <a href="/locality-search" class="nav-item">Locality Search</a>
                </div>
                
                <!-- <div class="incident-ticker">
                  <div class="ticker-content">
                    {% for result in results %}
                    <a href="incident1.html">{{result[12]}}</a>
                    <span>|</span>
                    {% endfor %}
                  </div>
                </div> -->


              <div class="sectionLight">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">DISASTER MANAGEMENT SYSTEM </h1>
                                <p class="lead">Preparedness is the ultimate confidence builder</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col"></div>
                      <div class="col-sm-12 col-md-6">
                          <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="../static/css/Flood.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Flood</h5>
                                      </div>
                                </div>
                                <div class="carousel-item">
                                  <img src="../static/css/Earthquake.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Earthquake</h5>
                                      </div>
                                </div>
                                <div class="carousel-item">
                                  <img src="../static/css/Tsunami.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Tsunami</h5>
                                      </div>
                                </div>
                                <div class="carousel-item">
                                  <img src="../static/css/Covidd.jpeg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Covid</h5>
                                      </div>
                                </div>
                              </div>
                             <button class="carousel-control-prev" type="button" data-target="#mainCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-target="#mainCarousel" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </button>
                            </div>

                      </div>
                      <div class="col"></div>
                  </div>
              </div>
          
          
          <div class="sectionLight">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-4">
                <a href="./flood_page.html" class="position-relative">
                    <img class="img-fluid imgCenter" src="../static/css/floo.jpg" alt="Flood Image">
                    <div class="caption">Flood Disaster</div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 mb-4">
                <a href="./tsunami_page.html" class="position-relative">
                    <img class="img-fluid imgCenter" src="../static/css/Tsunami.jpg" alt="Tsunami Image">
                    <div class="caption">Tsunami Disaster</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="sectionLight">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-4">
                <a href="./earthquake_page.html" class="position-relative">
                    <img class="img-fluid imgCenter" src="../static/css/earth.jpg" alt="Earthquake Image">
                    <div class="caption">Earthquake Disaster</div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 mb-4">
                <a href="./coronavirus_page.html" class="position-relative">
                    <img class="img-fluid imgCenter" src="../static/css/corona.jpg" alt="Covid Image">
                    <div class="caption">Covid Disaster</div>
                </a>
            </div>
        </div>
    </div>
</div>
          
          
          <div class="sectionDark">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <p class = "para_ref_1">VOLUNTEER</p>
                            <p class = "para_ref">Volunteering in disaster management is a powerful way to make a meaningful difference in the lives of those affected by crises. By offering your time and skills, you become an essential part of emergency response efforts, helping to provide relief, support recovery, and foster resilience in communities. Your dedication can bring hope and strength to those facing their toughest moments. Step up and join our team of volunteers to help save lives and rebuild futures.</p>
                            <div class="coolStuffRapper">
                        <button type="button" class="btn-lg coolStuffRapper" data-toggle="modal" data-target="#coolStuffModall">Sign-up</button>
                  </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <p class = "para_ref_1">DONATION</p>
                            <p class = "para_ref"> Donating to disaster management efforts is an impactful way to support communities in need when they need it most. Your contributions help fund essential resources like food, water, medical aid, and rebuilding materials, ensuring that affected families receive the help they require to recover and thrive. Every donation, big or small, fuels relief operations and provides hope in times of crisis. Make a difference today—donate and be a lifeline for those in need.</p>
                            <div class="col-sm-12 col-lg-6">
                    <div class="coolStuffRapper">
                        <button type="button" class="btn-lg coolStuffRapper" data-toggle="modal" data-target="#coolStuffModal">Donate</button>
                  </div>
                </div>
                        </div>
                    </div>
                  </div>
              </div>
              
              </div>
          <div class="locality-incident">
            <label for="localities">View active incidents in a locality.</label>

            <a href="/locality-search"><button class='btn btn-outline-info' type="submit">Go.</button></a>
          </div>
          <div class="disasters">
            <h3> Disasters that are actively being monitored across the state: </h3>
            {% for each in results %}
              {{ each }} 
            {% endfor %}
          </div>
          
          <footer class="footer bg-inverse">
            <div class="container-fluid flex-wrap">
                  <div class="row">
                    <div class="col-sm-12 col-lg-3">
                      <img class="img-fluid footerImg" src="../static/css/loogo.webp">
                      </div>
                      <div class="row">
                      <div class="col-sm-12 col-sm-9">
                            <p class="para1">To know more login and come with us to explore more of it.We will be really glad to guide you and know more. <p>
                          <p class="para2">Together, we can create safer, stronger communities.</p>
                          <p class="para2">Join us in our mission to provide hope, relief, and resilience when it matters most</p>
                          <ul>
                            <li class="click"><a href="https://www.ready.gov/business/resources/resource-management"><b>Quick Resource</b></a></li>
                              <li class="click"><a href="https://www.google.com/aclk?sa=l&ai=DChcSEwjukM6rs8-JAxWipGYCHZwCJ5YYABACGgJzbQ&ae=2&aspm=1&co=1&ase=2&gclid=Cj0KCQiArby5BhCDARIsAIJvjIRElGY_0rQnV6PMeX2aq0gKFvyOwVTRNBNt444tpTQ3IfO4b97mBAMaAvN9EALw_wcB&sig=AOD64_0UOq0yLjaslS239_1tvkNx9mfCvw&q&nis=4&adurl&ved=2ahUKEwjn0cers8-JAxWEzTgGHTD0Dg0Q0Qx6BAgNEAM"><b>UNICEF</b></a></li>
                               <li class="click"><a href="https://in.linkedin.com/company/national-ngo-s-confederation"><b>National NGO</b></a></li>
                          </ul>
                      </div>
              </div>
                </div>
            </div>
          </footer>
          
            <div class="modal fade" id="coolStuffModall" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="modalFormWrapper">
                                <form>
                                  <div class="form-group">
                                    <label for="forName">Name</label>
                                    <input type="text" class="form-control" id="forname" placeholder="Name">
                                  </div>
                                    <div class="form-group">
                                    <label for="formEmail">Email</label>
                                    <input type="email" class="form-control" id="formEmail" placeholder="Email">
                                  </div>
                                    <div class="form-group">
                                    <label for="forContact">Phone Number</label>
                                    <input type="number" class="form-control" id="forname" placeholder="contact">
                                  </div>
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          <div class="modal fade" id="coolStuffModal" tabindex="-1" aria-labelledby="coolStuffLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="modalFormWrapper">
                                <form>
                                  <div class="form-group">
                                    <label for="forName">How do you want to donate as?</label>
                                  </div>
                              
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" name="individual" data-toggle="modal" data-target="#donate_as_indi">Donate as individual</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" name="organisation" data-toggle="modal" data-target="#donate_as_org">Donate as organisation</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="popUp" tabindex="-1" aria-labelledby="popUpabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-12">
                          <div class="modalFormWrapper">
                              <form>
                                <div class="form-group">
                                  <label for="forName">Name</label>
                                  <input type="text" class="form-control" id="forname" placeholder="Name">
                                </div>

                                  <div class="form-group">
                                  <label for="formEmail">Email</label>
                                  <input type="email" class="form-control" id="formEmail" placeholder="Email">
                                </div>
                                  <div class="form-group">
                                  <label for="forContact">Phone Number</label>
                                  <input type="number" class="form-control" id="forname" placeholder="contact">
                                </div>
                                
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>
          

          <div class="modal fade" id="donate_as_indi" tabindex="-1" aria-labelledby="donate_as_indi" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Donate as individual</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-12">
                          <div class="modalFormWrapper">
                            <form action="/donate-fund-indi" method="POST">
                              <div class="form-group">
                                  <label for="forName">Name</label>
                                  <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                              </div>
                              <div class="form-group">
                                  <label for="formEmail">Contact</label>
                                  <input type="number" class="form-control" id="contact" name="contact" placeholder="contact" required>
                              </div>
                              <div class="form-group">
                                  <label for="forContact">Amount</label>
                                  <input type="number" class="form-control" id="std_amt_donated" name="std_amt_donated" placeholder="amount" required>
                              </div>
                              <div class="form-group">
                                  <label for="forContact">Incident Name:</label>
                                  <input type="text" class="form-control" id="incident_name" name="incident_name" placeholder="incident name" required>
                              </div>
                              <button type="submit" class="btn btn-secondary">Submit</button>
                          </form>
                          
                          </div>
                      </div>
                  </div>
              </div>
          </div>
                <div class="modal-footer">
                  
                </div>
              </div>
            </div>
          </div>


      
          <div class="modal fade" id="donate_as_org" tabindex="-1" aria-labelledby="donate_as_org" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Donate as Organisation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid" style="max-height: 400px; overflow-y: auto;">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="modalFormWrapper">
                          <form action="/donate-fund-org" method="POST">
                            <div class="form-group">
                              <label for="forName">Name</label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                              <label for="formEmail">Contact</label>
                              <input type="number" class="form-control" id="contact" name="contact" placeholder="Contact">
                            </div>
                            <div class="form-group">
                              <label for="forContact">Amount</label>
                              <input type="number" class="form-control" id="std_amt_donated" name="std_amt_donated" placeholder="Amount">
                            </div>
                            <div class="form-group">
                              <label for="forContact">Incident Name:</label>
                              <input type="text" class="form-control" id="incident_name" name="incident_name" placeholder="Incident Name">
                            </div>
                            <div class="form-group">
                              <label for="forName">Contract Terms:</label>
                              <input type="text" class="form-control" id="contract_terms" name="contract_terms" placeholder="Contract Terms">
                            </div>
                            <div class="form-group">
                              <label for="formEmail">Renewal Period:</label>
                              <input type="text" class="form-control" id="renewal_period" name="renewal_period" placeholder="Renewal Period">
                            </div>
                            <div class="form-group">
                              <label for="forContact">Type of Organisation:</label>
                              <input type="text" class="form-control" id="type_of_organisation" name="type_of_organisation" placeholder="Type of Organisation">
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>
          
      


   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
